.gitignore
.vscode
.github
*.vsix
node_modules/
out/
src/
crates/
scripts/
target/
Cargo.toml
Cargo.lock
rust-toolchain.toml
tsconfig.json
.oxlintrc.json
.oxfmtrc.json
rolldown.config.mjs
bun.lock
**/*.map
